@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var unSoldItemCounter = 0;
    var unSoldSharedItemCounter = 0;
    var soldItemCounter = 0;
    var soldSharedItemCounter = 0;
    var boughtItemCounter = 0;


}
@model MarketPlace.ViewModels.ProductViewModel
<!-- Top Nav -->
<!-- Header -->
<div class="col-12 bg-white py-4">
    <div class="row">
        <div class="col-lg-auto">
            <div class="site-logo text-center text-lg-left">
                <a asp-controller="Home" asp-action="Index">Marketplace</a>
            </div>
        </div>
        <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
            <form action="@Url.Action("Search", "Product")">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" asp-for=searchTerm class="form-control border-dark" placeholder="Search..." required>
                        <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        @if (ViewBag.user.Email != "admin@marketplace.com")
        {
            <div class="col-lg-auto text-center text-lg-left header-item-holder">

                <a asp-controller="Auth" asp-action="Dashboard" class="header-item">
                    <i class="fas fa-columns me-2"></i><span id="header-qty" class="me-3">Dashboard</span>
                    <i class="fas fa-money-bill-wave me-2"></i><span id="header-price">@ViewBag.user.Amount</span>
                </a>
            </div>
        }
        else
        {
            <div class=" = row">

                <div class="col-12">
                    <a asp-controller="Auth" asp-action="ProductReport" target="_blank" class="btn btn-success btn-sm">
                        Products Report
                    </a>
                </div>
                <br />
                <br />

                <div class="col-12">
                    <a asp-controller="Auth" asp-action="TransactionReport" target="_blank" class="btn btn-success btn-sm">
                        Transaction Report
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<!-- Header -->
<div class="row bg-white">
    <div class="col-6">
        <div class="row">
            <div class="col-12 mt-3 text-center text-uppercase">
                <h2>Add New Item</h2>
            </div>
        </div>

        <main class="row">
            <div class="col-12 bg-white py-3 mb-3">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                        <div class="col-12 text-right">

                            <a asp-controller="Product" asp-action="Create" asp-route-user=@ViewBag.user class="btn btn-outline-primary my-2 form-control">
                                Add
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </main>

    </div>
    <div class="col-6 bg-white">
        <div class="row">
            <div class="col-12 mt-3 text-center text-uppercase">
                <h2>Deposit Cash</h2>
            </div>
        </div>


        <main class="row">
            <div class="col-12 py-3 mb-3">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                        <form class="row" asp-action="Add" asp-controller="Auth">
                            <div class="col-12 text-right">
                                <input type="number" asp-for=Amount class="form-control  my-2" placeholder="Amount of Money...">


                                <button class="btn btn-outline-success my-2 form-control" type="submit">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>




    <div class="container">

        <main class="row">
            <div class="col-12  py-3 mb-3">
                <div class="row">
                    <div class="col-12 mt-3 text-center text-uppercase">
                        <h2>Belongs To You</h2>
                    </div>
                    <div class="col-12 mt-3 text-center text-uppercase">
                        <p>Unsold</p>
                    </div>
                </div>
                <div class="row">
                    @if (ViewBag.userLocation == "North")
                    {

                        @foreach (var item in @Model.associatedSell)
                        {
                            <!-- Product -->
                            @if (!item.Sold)
                            {
                                unSoldItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }

                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                                <a asp-route-id=@item.productId.ProductId asp-action="Edit" asp-controller="Product" class="btn btn-outline-warning me-2 mb-2" type="button">
                                                    Edit
                                                </a>
                                                <a class="btn btn-outline-danger me-2 mb-2" asp-action="Delete" asp-controller="Product" asp-route-id=@item.productId.ProductId type="button">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Product -->
                        }
                        @if (unSoldItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no items</p>
                        }
                    }
                    @if (ViewBag.userLocation == "South")
                    {

                        @foreach (var item in @Model.associatedSellSouth)
                        {
                            <!-- Product -->
                            @if (!item.Sold)
                            {
                                unSoldItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }

                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                                <a asp-route-id=@item.productId.ProductId asp-action="Edit" asp-controller="Product" class="btn btn-outline-warning me-2 mb-2" type="button">
                                                    Edit
                                                </a>
                                                <a class="btn btn-outline-danger me-2 mb-2" asp-action="Delete" asp-controller="Product" asp-route-id=@item.productId.ProductId type="button">
                                                    Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- Product -->
                        }
                        @if (unSoldItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no items</p>
                        }
                    }

                </div>
            </div>
        </main>

        <br />

        <main class="row">
            <div class="col-12  py-3 mb-3">

                <div class="col-12 mt-3 text-center text-uppercase">
                    <p>Sold</p>
                </div>
                <div class="row">
                    @if (ViewBag.userLocation == "North")
                    {

                        @foreach (var item in @Model.associatedSell)
                        {
                            <!-- Product -->
                            @if (item.Sold)
                            {
                                soldItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Product -->
                        }
                        @if (soldItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no items</p>
                        }

                    }
                    @if (ViewBag.userLocation == "South")
                    {

                        @foreach (var item in @Model.associatedSellSouth)
                        {
                            <!-- Product -->
                            @if (item.Sold)
                            {
                                soldItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- Product -->
                        }
                        @if (soldItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no items</p>
                        }

                    }
                </div>
            </div>
        </main>
        <br />

        <main class="row">
            <div class="col-12  py-3 mb-3">
                <div class="row">
                    <div class="col-12 mt-3 text-center text-uppercase">
                        <h2>Bought Items</h2>
                    </div>
                </div>
                <div class="row">

                    @if (ViewBag.userLocation == "North")
                    {

                        @foreach (var item in @Model.associatedBought)
                        {
                            <!-- Product -->
                            boughtItemCounter++;
                            <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                <div class="col-12 bg-white text-center h-100 product-item">
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            @if (item.product.ProductImageUrls != null)
                                            {
                                                string[] imagesUrl = item.product.ProductImageUrls.Split('`');


                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.product.ProductId>
                                                    <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                </a>

                                            }
                                        </div>
                                        <div class="col-12 mb-3">
                                            <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.product.ProductId class="product-name">@item.product.ProductName</a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <span class="product-price"> EGP @item.product.ProductPrice </span>
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                        }
                        @if (boughtItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no bought items</p>
                        }

                    }
                    @if (ViewBag.userLocation == "South")
                    {

                        @foreach (var item in @Model.associatedBoughtSouth)
                        {
                            <!-- Product -->
                            boughtItemCounter++;
                            <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                <div class="col-12 bg-white text-center h-100 product-item">
                                    <div class="row h-100">
                                        <div class="col-12 p-0 mb-3">
                                            @if (item.product.ProductImageUrls != null)
                                            {
                                                string[] imagesUrl = item.product.ProductImageUrls.Split('`');


                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.product.ProductId>
                                                    <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                </a>

                                            }
                                        </div>
                                        <div class="col-12 mb-3">
                                            <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.product.ProductId class="product-name">@item.product.ProductName</a>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <span class="product-price"> EGP @item.product.ProductPrice </span>
                                        </div>
                                        <div class="col-12 mb-3 align-self-end">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                        }
                        @if (boughtItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no bought items</p>
                        }

                    }
                </div>
            </div>
        </main>

        <main class="row">
            <div class="col-12  py-3 mb-3">
                <div class="row">
                    <div class="col-12 mt-3 text-center text-uppercase">
                        <h2>Shared Items</h2>
                    </div>
                </div>
                <div class="col-12 mt-3 text-center text-uppercase">
                    <p>Unsold</p>
                </div>
                <div class="row">
                    @if (ViewBag.userLocation == "North")
                    {
                        @foreach (var item in @Model.associatedShared)
                        {
                            <!-- Product -->
                            @if (!item.Sold)
                            {
                                unSoldSharedItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Product -->
                            }

                        }
                        @if (unSoldSharedItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no shared items</p>
                        }

                    }
                    @if (ViewBag.userLocation == "South")
                    {
                        @foreach (var item in @Model.associatedSharedSouth)
                        {
                            <!-- Product -->
                            @if (!item.Sold)
                            {
                                unSoldSharedItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Product -->
                            }

                        }
                        @if (unSoldSharedItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no shared items</p>
                        }

                    }
                </div>
                <div class="col-12 mt-3 text-center text-uppercase">
                    <p>Sold</p>
                </div>
                <div class="row">
                    @if (ViewBag.userLocation == "North")
                    {
                        @foreach (var item in @Model.associatedShared)
                        {
                            <!-- Product -->
                            @if (item.Sold)
                            {

                                soldSharedItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Product -->
                            }

                        }
                        @if (soldSharedItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no shared items</p>
                        }

                    }
                    @if (ViewBag.userLocation == "South")
                    {
                        @foreach (var item in @Model.associatedSharedSouth)
                        {
                            <!-- Product -->
                            @if (item.Sold)
                            {

                                soldSharedItemCounter++;
                                <div class="col-xl-2 col-lg-3 col-sm-6 my-3">
                                    <div class="col-12 bg-white text-center h-100 product-item">
                                        <div class="row h-100">
                                            <div class="col-12 p-0 mb-3">
                                                @if (item.productId.ProductImageUrls != null)
                                                {
                                                    string[] imagesUrl = item.productId.ProductImageUrls.Split('`');


                                                    <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId>
                                                        <img src="~/images/@imagesUrl[0]" class="img-fluid">
                                                    </a>

                                                }
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a asp-controller="Product" asp-action="Product" asp-route-productId=@item.productId.ProductId class="product-name">@item.productId.ProductName</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price"> EGP @item.productId.ProductPrice </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Product -->
                            }

                        }
                        @if (soldSharedItemCounter == 0)
                        {
                            <p class="col-12 text-center"> There is no shared items</p>
                        }

                    }
                </div>
            </div>
        </main>
    </div>
    <!-- Main Content -->
</div>

@section Scripts{
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

}