
@model MarketPlace.ViewModels.ProductViewModel
@using Microsoft.AspNetCore.Identity
@using MarketPlace.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!-- Top Nav -->
<!-- Header -->
<div class="col-12 bg-white py-4">
    <div class="row">
        <div class="col-lg-auto">
            <div class="site-logo text-center text-lg-left">
                <a asp-controller="Home" asp-action="Index">Marketplace</a>
            </div>
        </div>
        <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
            <form action="@Url.Action("Search", "Product")">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" asp-for=searchTerm class="form-control border-dark" placeholder="Search..." required>
                        <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {<div class="col-lg-auto text-center text-lg-left header-item-holder">

                <a asp-controller="Auth" asp-action="Dashboard" class="header-item">
                    <i class="fas fa-columns me-2"></i><span id="header-qty" class="me-3">  Dashboard  </span>
                    <i class="fas fa-money-bill-wave me-2"></i><span id="header-price"> @ViewBag.user.Amount</span>
                </a>
            </div>}
    </div>
</div>
<!-- Header -->


<div class="col-12">
    <!-- Main Content -->
    <main class="row">
        <div class="col-12 bg-white py-3 my-3">
            <div class="row">

                <!-- Product Images -->
                <div class="col-lg-5 col-md-12 mb-3">
                    <div class="col-12 mb-3">
                        <div class="img-large border" style="background-image: url('../images/image-1.jpg')"></div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('../images/image-1.jpg')" data-src="../images/image-1.jpg"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('../images/image-2.jpg')" data-src="../images/image-2.jpg"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('../images/image-3.jpg')" data-src="../images/image-3.jpg"></div>
                            </div>
                            <div class="col-sm-2 col-3">
                                <div class="img-small border" style="background-image: url('../images/image-4.jpg')" data-src="../images/image-4.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Images -->
                <!-- Product Info -->
                <div class="col-lg-5 col-md-9">
                    <div class="col-12 product-name large">
                        @Model.productDeatails.productId.ProductName
                        <small>By <a href="#">@Model.productDeatails.productId.ProductBrand</a></small>
                        <small>Sold By <a href="#">@Model.productDeatails.SellerId.FirstName @Model.productDeatails.SellerId.LastName </a></small>

                    </div>
                    <div class="col-12 px-0">
                        <hr>
                    </div>
                    <div class="col-12">
                     @Model.productDeatails.productId.ProductDescription

                    </div>
                </div>
                <!-- Product Info -->
                <!-- Sidebar -->
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="col-12 sidebar h-100">
                        <div class="row">
                            <div class="col-12">
                                <span class="detail-price">
                                    @Model.productDeatails.productId.ProductPrice

                                </span>

                            </div>
                           
                            <div class="col-12 mt-3">
                                <button class="btn btn-outline-success" type="button">Buy Now</button>

                            </div>
                            <div class="col-12 mt-3">
                                <button class="btn btn-outline-dark" type="button"><i class="fas fa-cart-plus me-2"></i>Add to your Store</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar -->

            </div>
        </div>




    </main>
    <!-- Main Content -->
</div>